/*PAGES*/
body{
    background: linear-gradient(90deg,#e66465, #9198e5);
    color:'white';
}
/*main*/
main{
    display: inline-grid;
    justify-content: center;
}
/*Landing Page*/
.landing{
    display: inline-grid;
    color: white;
    align-content: center;
    background-color: red;
}
.landing, button{
    display: inline-block;
}
/*Topics*/
.Container-T{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 100%;
    top: 50%;
    background-color: blue;
    color: white;
    text-align: center;
    align-content: center;
}
#topic-select{
    margin-bottom: 9%;
}
.topics{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px;
    column-gap: 15px;
    align-content: center;
}
.Music{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Art{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Travel{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.SocialMedia{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}
.History{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Hobbies{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Sports{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Interview{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Geography{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;

}
.Food{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Dating{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%; 
}
.Dancing{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Museum{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Plants{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Gym{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Hiking{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Acting{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Painting{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Running{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.MartialArts{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Coffee{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Cooking{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.Photography{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Coding{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Cars{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Festivals{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Podcasts{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Meditation{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Videogames{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
.Other{
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 13px;
    color: black;
    border-radius: 35%;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 5%;
}
#Next{
    display: inline-grid; 
}
/*Timer*/

/*Chat*/
/*
.Online{
    display: inline-grid;
    border: 2px solid black;
    background-color: red;
    padding: '100px';
}*/



.no-gutters{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
}  


.conversations{
     background-color: DodgerBlue;
     border-right: 5px solid #708090 ;
     height: 100vh;
     align-content: start;
     align-items: center;
     padding-right: 7%;
     padding-left: 2%;
}
.conver-list{ 
     display: block;
     border: 2px solid black;
     margin-top: 15%;
     height: 80vh;
     border-radius: 15%;
}
.chatLayout{
    background-color: #F0F8FF;
    height: 100vh;
    width: 50%;
}
.chatBot{
    background-color: #00ff0080;
    padding-bottom: 0%;
    display: flex;
}
#Bot{
    border-radius: 50%;
    object-fit: cover;
    color: white;
}
.chatOnline{
    color: white;
}
.topicTimer{
    background-color: red;
}

.Messaging{
    display: block;
    height: 77vh;
    border-top: 2px solid black;
}
.talkingBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid black;
    height: 11.4vh;
}
/*Error*/

/*COMPONENTS*/

/*Feedback*/

/*inputBox*/

/*Interests*/

/*TalkButton*/
.Talk{
    background-color: #FF4500;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 35%;
    padding-left: 5%;
    padding-right: 5%;
}
#Microphone_24{
    margin-left: 25%;
}
/*PSEUDO ELEMENTS*/

/*PSEUDO CLASSES*/

/*MEDIA QUERIES*/